node_modules/
dist/
build/
coverage/
.next/
.out/
.env*
*.log
.vscode/
.idea/
__pycache__/
*.pyc

# caches
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Jest/Vitest cache
.jest-cache/
