{
  "mcpServers": {
    "sonarqube": {
      "command": "npx",
      "args": ["-y", "oe-sonar-mcp"],
      "env": {
        "SONAR_TOKEN": "YOUR_SONAR_TOKEN_HERE",
        "SONAR_ORG": "foushware",
        "SONAR_PROJECT_KEY": "FoushWare_GreatFrontendHub",
        "SONAR_HOST_URL": "https://sonarcloud.io"
      }
    }
  }
}
