name: Auto-assign PRs to foushware

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.4
        with:
          repo-token: ${{ secrets.REPO_TOKEN }}
